<div class="container">
          <div class="wrapper">
              <div class="box">
                  <h3>
                      <a href="{% url 'dashboard' %}">Total Voucher</a>
                  </h3>
              </div>

              <div class="box">
                <h3>
                    <a href="{% url 'total_approved' %}">Total Approved Voucher</a>
                </h3>
            </div>

            <div class="box">
                <h3>
                    <a href="{% url 'pending_approved' %}">Total Pending Voucher</a>
                </h3>
            </div>

            <div class="box">
                <h3>
                    <a href="{% url 'disapproved' %}">Total Disapproved Voucher</a>
                </h3>
            </div>
          </div>
      </div>